data/exam_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="exams">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="session" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="location" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>

                                        <xsd:element name="exam" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="examiner">
                                                        <xsd:complexType>
                                                            <xsd:attribute name="name"
                                                                           type="xsd:string"
                                                                           use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>

                                                    <xsd:element name="time" type="xsd:string"/>
                                                    <xsd:element name="duration" type="xsd:integer"/>
                                                    <xsd:element name="category" type="xsd:string"/>
                                                </xsd:sequence>

                                                <xsd:attribute name="id" type="xsd:integer" use="required"/>
                                            </xsd:complexType>
                                        </xsd:element>

                                    </xsd:sequence>
                                    <xsd:attribute name="place" type="xsd:string" use="required"/>
                                </xsd:complexType>
                            </xsd:element>

                        </xsd:sequence>
                        <xsd:attribute name="date" type="xsd:date" use="required"/>
                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
